<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="디브팩토리" />
    <meta property="og:description" content=".net 최신 플랫폼 기반 기술개발" />
    <meta property="og:image" content="http://devfactory.co.kr/images/dev_logo_1.png" />
    <meta property="og:url" content="http://devfactory.co.kr" />
    <meta name="description" content=".net 최신 플랫폼 기반 기술개발." />
    <title>디브팩토리(관리자모드)</title>
    <link rel="icon" href="~/favicon-16.png" sizes="16x16" />
    <link rel="icon" href="~/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="~/favicon-96.png" sizes="96x96" />
    <link rel="apple-touch-icon-precomposed" href="~/apple-icon-128.png" />
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/trumbowyg/dist/ui/trumbowyg.min.css" />
    
    
    
    @*<environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>*@
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <div id="navbar-hamburger">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div id="navbar-close" class="hidden">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </button>
                <a class="navbar-brand" rel="home" href="/">
                    <img class="navbar-brand-logo"
                         src="~/Images/dev_logo_1.png">
                </a>
                @Html.ActionLink("디브팩토리", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-name" })
            </div>
            <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="ApplicationRole" asp-action="Index">권한관리</a></li>
                    }
                    
                </ul>

                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - DEVFACTORY</p>
        </footer>
    </div>

    <!-- JS -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/trumbowyg/dist/trumbowyg.min.js"></script>
    <script type="text/javascript" src="~/lib/trumbowyg/dist/plugins/upload/trumbowyg.upload.js"></script>
    <script type="text/javascript" src="~/lib/trumbowyg/dist/langs/ko.min.js"></script>
    <script type="text/javascript" src="~/js/site.min.js"></script>

    @*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
