@{
    ViewData["Title"] = "CAIS";
}

<h1>@ViewData["Title"]</h1>
        
<div class="jumbotron">
    <div class="container">
        <h1>유치원 통합 행정 프로그램</h1>
        <p>블라블라</p>
        <p>블라블라</p>
        <p>블라블라</p>
        <p>블라블라</p>
        <p>블라블라</p>
        <p>블라블라</p>
    </div>
</div>
