@{
    ViewData["Title"] = "엑세스 거부됨(Access denied)";
}

<header>
    <h2 class="text-danger">ViewData["Title"]</h2>
    <p class="text-danger">이 리소스에 대한 액세스 권한이 없습니다.(You do not have access to this resource.)</p>
</header>
