@{
    ViewData["Title"] = "인증메일 발송";
}

<div class="wrapper-content">
    <div class="section" id="Greeting">
        <div class="jumbotron">
            <h1>@ViewBag.Title.</h1>
            <p class="text-info"><b>@(Html.ViewBag.Email)</b> 이메일 주소로 계정 확인 메일을 발송하였습니다. 메일 확인 후 내용에 따라 회원가입 절차를 진행 바랍니다.</p>
            <p class="text-danger">
                이메일 주소가 정상적으로 확인 되지 않으면 로그인이 불가 합니다.
            </p>
        </div>
    </div>
</div>